<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Last name</th>
            <th>Age</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let user of users">
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.age }}</td>
            <td>
                <button class="btn btn-warning btn-sm" (click)="openEditModal(editModal, user)">Editar</button>
                <button class="btn btn-danger btn-sm" (click)="delete(user.id)">Eliminar</button>
            </td>
        </tr>
    </tbody>

    <tfoot>
        <tr>
            <td></td>
            <td><input class="form-control" [(ngModel)]="user.name" placeholder="Nombre"></td>
            <td><input class="form-control" [(ngModel)]="user.lastName" placeholder="Apellido"></td>
            <td><input class="form-control" [(ngModel)]="user.age" placeholder="Edad"></td>
            <td><button class="btn btn-primary btn-sm" (click)="save()">Agregar</button></td>
        </tr>
    </tfoot>
</table>


<ng-template #editModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Editar Usuario</h4>
        <button type="button" class="btn-close" (click)="onCancel()"></button>
    </div>
    
    <div class="modal-body">
        <div class="form-group">
            <label>Nombre</label>
            <input type="text" class="form-control" [(ngModel)]="userToEdit.name">
        </div>

        <div class="form-group">
            <label>Apellido</label>
            <input type="text" class="form-control" [(ngModel)]="userToEdit.lastName">
        </div>

        <div class="form-group">
            <label>Edad</label>
            <input type="number" class="form-control" [(ngModel)]="userToEdit.age">
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="update()">Guardar</button>
    </div>
</ng-template>